body{
	background-image:linear-gradient(skyblue,white);
}
#main-container{
	width: 100%;
	height: 720px;
}
#svg-container{
	margin-left:300px;
	width: 900px;
	height: 720px;
	font-size: 20px;
	overflow: visible;
	background-image:linear-gradient(skyblue,white);
}