body{
	background:black;
}

.container-top{
	width:100%;
	height:180px;
	background:black;
}
.ncenter{
	margin-left:20%;
	float:left;
	width:150px;
	height:150px;
	border-radius:100%;
	border-bottom:5px solid black;
	border-top:5px solid black;
	background-image:linear-gradient(black,orangered);
}
.ncenter:hover{
	animation: blink 2s linear infinite;
	cursor: pointer;
}
.bawbaw{
	width:30%;
	height:30px;
	background-image:linear-gradient(black,red);
	float:left;
	margin-top:20px;
	margin-left:8px;
	border-radius:20%;
	
}
.bawbawz{
	width:30%;
	height:30px;
	background-image:linear-gradient(black,red);
	float:left;
	margin-top:20px;
	margin-left:8px;
	border-radius:20%;
	
}
.karabaw{
	width:40%;
	height:5px;
	margin-top: 100px;
	margin-left:25px;
	border-radius:20%;
	background:black;
}
.bawbawx{
	width:16%;
	height:8px;
	background-image:linear-gradient(black,red);
	float:right;
	margin-right:15px;
	margin-top:30px;
	transform:skewY(20deg);
}
.bigotilyo{
	width:15%;
	height:38px;
	background:black;
	margin-left:45px;
	margin-top:8px;
	border-top-left-radius:20%;
	border-top-right-radius:20%;
}
.wrapper{
	width: 40%;
	height:150px;
	background:black;
	margin-left:520px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.text{
	color:white;
	background:#000000;
	font-size:69px;
	font-weight:bold;
	font-family: arial;
	text-transform: uppercase;
}
.text::before{
		content: 'Jake Nemenzo';
		position:absolute;
		mix-blend-mode: difference;
		filter: blur(3px);
}
.neon-wrapper{
	display:inline-flex;
	filter: brightness(200%);
	overflow: hidden;
}
.gradient{
	background-color: #F35B1E;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.dodge{
	background: radial-gradient(circle,white,black 35%) center / 25% 25%;
	position: absolute;
	top:-100%;
	left:-100%;
	right:0;
	bottom:0;
	mix-blend-mode: color-dodge;
	animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area{
	to{transform: translate(50%,50%);}
}
@keyframes blink{
	from{transform: ;}
	50%{transform:rotate(15deg); }
	to{transform: ;}
}











.container-mid{
	width:100%;
	height:1500px;	
	margin-bottom:10px;
	background:black;
}
.slidershow{
	margin-top:50px;
	width:97%;
	height:600px;
	overflow:hidden;
	border-radius:2%;
}
.middle{
	position:absolute;
	top:65%;
	left:50%;
	transform:translate(-50%,-50%);
}
.navb{
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
	display:flex;
}
.bar{
	width:50px;
	height:10px;
	border:2px solid #fff;
	margin:10px;
	cursor:pointer;
	transition:transform 0.4s; 
}
.bar:hover{
	background:orangered;
	border:2px solid white;
	transform:scale(1.5);
	opacity:90%;
	border-radius:5%;
}
input[name="r"]{
	position:absolute;
	visibility:hidden;
}

.slides{
	width:500%;
	height:100%;
	display:flex;
}
.slide{
	width:20%;
	transition:0.6s;
}
.slide img{
	width:100%;
	height:100%;
}

#r1:checked ~ .s1{
	margin-left:0;
}
#r2:checked ~ .s1{
	margin-left:-20%;
}
#r3:checked ~ .s1{
	margin-left:-40%;
}
#r4:checked ~ .s1{
	margin-left:-60%;
}
#r5:checked ~ .s1{
	margin-left:-80%;
}
.infor{
	width:100%;
	height: 700px;
	margin-top: 700px;
}
.kaliwa{
	width:40%;
	height: 500px;
	float: left;
	margin-top:100px;
	margin-left:100px;
}
.hijo{
	font-size:100px;
	color:white;
	font-family:Consolas;
	
}
.hijoz{
	font-size:100px;
	color:white;
	font-family:Consolas;
	transform: translate(80px,240px);
}

.kanan{
	width: 40%;
	height: 500px;
	float: right;
	margin-top: 100px;
	margin-right:50px;
}
.portfolio{
	margin-top:150px;
	margin-left:65px;
	width: 90%;
	height: 600px;
	}
.upperp{
	width: 100%;
	height:150px;
	
}
.lowerp{
	width: 100%;
	height:450px;
	
}
.button1{
	margin:20px;
	width: 450px;
	height:50px;
	outline-style: solid;
	outline-color: white;
	text-align: center;
}
.hijoi{
	color:white;
	font-size:45px;
	font-family: consolas;
	text-decoration: none;
}
.button1:hover{
	color:orange;
	outline-color: orangered;
	cursor: pointer;
	transition-delay: 0s;
}













.container-bottom{
	width: 100%;
	height: 300px;
	background:linear-gradient(-248.22642248711196deg, rgba(0, 0, 0,1) 51.448567708333336%,rgba(71, 22, 8,1) 97.67252604166667%);
	background-size: 400% 400%;
	position: relative;
	animation: change 5s ease-in-out infinite;
}
.sentro{
	width:50%;
	height: 100%;
	margin-left:25%;
}
.left{
	margin-top:50px;
	width:50%;
	height:200px;
	float:left;
}
.bungo{
	margin-top:20px;
	margin-left:150px;
	width:150px;
	height:150px;
	border-radius:100%;
	border-bottom:5px solid black;
	border-top:5px solid black;
	background-image:linear-gradient(black,orangered);
}
.ha{
	width:30%;
	height:30px;
	background-image:linear-gradient(black,red);
	float:left;
	margin-top:20px;
	margin-left:8px;
	border-radius:20%;
}
.he{
	width:30%;
	height:30px;
	background-image:linear-gradient(black,red);
	float:left;
	margin-top:20px;
	margin-left:8px;
	border-radius:20%;
}
.hi{
	width:16%;
	height:8px;
	background-image:linear-gradient(black,red);
	float:right;
	margin-right:15px;
	margin-top:30px;
	transform:skewY(20deg);}
.ho{
	width:40%;
	height:5px;
	margin-top: 100px;
	margin-left:25px;
	border-radius:20%;
	background:black;
}
.hu{
	width:15%;
	height:36px;
	background:black;
	margin-left:45px;
	margin-top:8px;
	border-top-left-radius:20%;
	border-top-right-radius:20%;
}
.right{
	margin-top:25px;
	width: 50%;
	height: 250px;
	float: right;
	text-align: center;
}
.icons{
	float:left;
	list-style: none;
	padding: 10px;
	font-size:80px;
	margin-left: 10px;
}
.icons:hover{
	background: orangered;
	opacity: 1;
	border-radius:10%;
}
a{
	color:white;
}
.opya{
	width: 100%;
}
.jek{
	font-size: 30px;
	font-family: consolas;
	color:white;
}
@keyframes change{
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}
	100%{background-position: 0 50%;}
}
